.footer {
    background: #290b4b;
    color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 10px 11%;
}
 footer a {


}
 .footer__enlace {
     color: black;
     text-decoration: none;

 }
 .footer__enlace {
     max-width: 50px;
 }







